<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymelaef.org"
      xmlns:sec="http://www.thymelaef.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Teste</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="\materialize\css\materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection"/>
</head>
<body>

<script type="text/javascript">
    // Redireciona para a página desejada após o carregamento da página
    window.onload = function() {
        window.location.href = '/cadastro/cadastropessoa';
    };
</script>

    <script type="text/javascript" src="materialize/js/materialize.js"></script>
    <script type="text/javascript" src="materialize/js//materialize/materialize.min.js"></script>
</body>
</html>